.line{
    height: 4px;
width: 80px;
background-color: #2c3e50;}
.home{
    color:#2c3e50 ;
}
label{
    z-index: 1;
    margin-bottom: 7px;
    top:-40px;
    opacity: 0;
    transition: 0.5s;
    color: #2c3e50 ;
}
input:not(:placeholder-shown)+label{
    opacity: 1;
    top:-80px;
}